<!-- 头部 -->
<!DOCTYPE html>
<html class="fly-html-layui fly-html-store">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">-->
    <meta name="keywords" content="酒店管理系统">
    <meta name="description" content="酒店管理系统">
    <link rel="stylesheet" href="/layuiadmin/layui/css/layui.css">
    <link rel="stylesheet" href="/layuiadmin/style/admin.css">
    <link rel="stylesheet" href="/css/global.css" charset="utf-8">
    <link rel="stylesheet" href="/css/global(1).css" charset="utf-8">
    <link rel="stylesheet" href="/css/store.css" charset="utf-8">
    <link rel="icon" href="image/favicon.ico">
</head>
<title>个人信息-酒店管理系统</title>
<body>
<!--顶部 start-->
<div class="layui-header header header-store" style="background-color: #083a6d;">
    <div class="layui-container">
        <a class="logo" href="/index/index">
            <img src="/image/logo.png" alt="layui">
        </a>
        <div class="layui-form component" lay-filter="LAY-site-header-component"></div>
        <ul class="layui-nav" id="layui-nav-userinfo">

        </ul>
    </div>
</div>
<!--顶部 end-->
<!--[if lt IE 9]>  <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>  <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script><![endif]-->
<div class="shop-nav shop-index">
    <!--搜索 start-->
    <div id="LAY-topbar" style="height: auto;">
        <form class="layui-form layuimini-form">
            <div class="input-search">
                <div id="searchRoom">
                </div>
                <div class="layui-container layui-hide-xs"> <a href="http://www.xueden.cn/" class="topbar-logo"> <img src="/image/1.jpg" alt="layui"> </a> </div>
            </div>
        </form>
    </div>
    <!--搜索 end-->
    <div class="shop-banner" style="background: #f2f2f2;">
        <div class="layui-container layui-hide-xs">
            <!--会员菜单 start-->
            <div class="product-list">
                <dl>
                    <dt><a href="/myInfo/myInfo">信息中心</a></dt>
                    <dd class="activate"><a href="/myInfo/myInfo">个人信息</a></dd>
                    <!--<dd><a href="../hotel/myInfo.html">个人信息</a></dd>-->
                    <!--<dd class="activate"><a href="../hotel/myReserve.html">我的预定</a></dd>-->
                    <dd><a href="/myReserve/myReserve">我的预定</a></dd>
                </dl>
            </div>
            <!--会员菜单 end-->
        </div>

        <div class="layui-container">
            <div class="fly-panel fly-panel-user" pad20="">
                <div class="layui-tab layui-tab-brief" lay-filter="user">
                    <ul class="layui-tab-title" id="LAY_mine">
                        <li class="layui-this" lay-id="info">我的资料</li>

                        <li lay-id="pass">密码</li>

                    </ul>
                    <div class="layui-tab-content" style="padding: 20px 0;">
                        <div class="layui-form layui-form-pane layui-tab-item layui-show">
                            <form class="layui-form layui-form-pane"  lay-filter="formMyInfo">
                                <div class="layui-form-item">
                                    <label for="L_email" class="layui-form-label">手机</label>
                                    <div class="layui-input-inline">
                                        <input type="hidden"  name="id" value="">
                                        <input type="text" id="L_phone" name="mPhone" required="" lay-verify="phone" autocomplete="off" value="" placeholder="请输入手机号" class="layui-input">
                                    </div>
                                </div>

                                <div class="layui-form-item">
                                    <label for="L_email" class="layui-form-label">邮箱</label>
                                    <div class="layui-input-inline">
                                        <input type="text" id="L_email" name="email" required="" lay-verify="email" autocomplete="off" value="" class="layui-input">
                                    </div>

                                </div>


                                <div class="layui-form-item">
                                    <label for="L_city" class="layui-form-label">姓名</label>
                                    <div class="layui-input-inline">
                                        <input type="text" id="L_city" name="realName" autocomplete="off" value="" class="layui-input">
                                    </div>
                                </div>

                                <div class="layui-form-item">
                                    <label for="L_username" class="layui-form-label">昵称</label>
                                    <div class="layui-input-inline">
                                        <input type="text" id="L_username" name="mNickname" required="" lay-verify="required" autocomplete="off" value="" class="layui-input">
                                    </div>
                                </div>

                                <div class="layui-form-item">
                                    <button class="layui-btn" key="set-mine" lay-filter="updateMember" lay-submit="" onclick="return false">确认修改</button>
                                </div>
                            </form>
                        </div>

                        <div class="layui-form layui-form-pane layui-tab-item">
                            <div class="layui-form-item">
                                <label for="L_pass" class="layui-form-label">新密码</label>
                                <div class="layui-input-inline">
                                    <input type="password" id="L_pass" name="pass" required="" lay-verify="required" autocomplete="off" class="layui-input">
                                </div>
                                <div class="layui-form-mid layui-word-aux">6到16个字符</div>
                            </div>
                            <div class="layui-form-item">
                                <label for="L_repass" class="layui-form-label">确认密码</label>
                                <div class="layui-input-inline">
                                    <input type="password" id="L_repass" name="repass" required="" lay-verify="required" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <button class="layui-btn" key="set-mine" lay-filter="updatePsw" lay-submit="" onclick="return false">确认修改</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>
</div>


<!-- 底部 -->
<div class="fly-footer">
    <p>徐广兴 &nbsp;&nbsp;&nbsp;&nbsp;<i class="layui-icon layui-icon-login-qq"></i> 1832377033  &nbsp;&nbsp;&nbsp;&nbsp;
        <i class="layui-icon layui-icon-cellphone"></i>18317956639
    </p>
</div>

<script src="/static/layuiadmin/layui/layui.js"></script>
<script src="/static/js/project/index/index.js"></script>
<script>
    layui.config({
        version: "1545301148662"
    }).extend({
        'fly': '../hotel/layui/dist/lay/modules/fly/index'
    }).use(["form","element","fly"], function () {
        let form = layui.form,
            layer = layui.layer,
            element = layui.element,
            $ = layui.$;
        //获取登录会员信息
        let sessionMemberData = layui.sessionData('sessionMemberDate');
        //给表单赋值
        form.val("formMyInfo",sessionMemberData.sessionMember);


        //监听更新提交会员信息
        form.on('submit(updateMember)', function (data) {
            $.ajax({
                type: "post",
                url: updateHotelMemberUrl,
                data: data.field,
                dataType: "json",//返回的
                success: function (res) {
                    layer.msg(res.message);
                    layui.sessionData('sessionMemberDate',{
                        key:'sessionMember'
                        ,value:res.data
                    });

                },
                error: function (res) {
                    console.log(res.msg);
                }
            });

        });

        //监听更新提交密码
        form.on('submit(updatePsw)', function (data) {

            $.ajax({
                type: "post",
                url: updatePswUrl,
                data: data.field,
                dataType: "json",//返回的
                success: function (data) {
                    layer.msg(data.message);

                },
                error: function (msg) {
                    console.log(msg);
                }
            });


        });

    });
</script>

<ul class="layui-fixbar">
    <li class="layui-icon layui-fixbar-top" lay-type="top" style=""></li>
</ul>
</body>
</html>
