<!-- 头部 start-->
<!DOCTYPE html>
<html class="fly-html-layui fly-html-store">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" href="image/favicon.ico">
    <meta name="keywords" content="酒店管理系统">
    <meta name="description" content="酒店管理系统">
    <link rel="stylesheet" href="/layuiadmin/layui/css/layui.css">
    <link rel="stylesheet" href="/layuiadmin/style/admin.css">
    <link rel="stylesheet" href="/css/global.css" charset="utf-8">
    <link rel="stylesheet" href="/css/global(1).css" charset="utf-8">
    <link rel="stylesheet" href="/css/store.css" charset="utf-8">
    <link rel="icon" href="/image/favicon.ico">
    <link rel="stylesheet" href="/css/lists.css" charset="utf-8">
</head>
<!-- 头部 end-->
<title>全部房间列表 - 酒店管理系统</title>
<body>
<!--顶部 start-->
<div class="layui-header header header-store" style="background-color: #083a6d;">
    <div class="layui-container">
        <a class="logo" href="/index/index">
            <img src="/image/logo.png" alt="layui">
        </a>
        <div class="layui-form component" lay-filter="LAY-site-header-component"></div>
        <ul class="layui-nav" id="layui-nav-userinfo">

        </ul>
    </div>
</div>
<!--顶部 end-->
<!--[if lt IE 9]>
<script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
<script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script><![endif]-->
<div class="shop-nav shopdata">
    <!--搜索 start-->
    <div id="LAY-topbar" style="height: auto;">
        <form class="layui-form layuimini-form">
            <div class="input-search">
                <div id="searchRoom">
                </div>
                <!--
                                <div class="layui-container layui-hide-xs"> <a href="http://www.xueden.cn/" class="topbar-logo"> <img src="/image/1.jpg" alt="layui"> </a> </div>
                -->
            </div>
        </form>
    </div>
    <!--搜索 end-->
</div>


<div class="shoplist-filter">
    <div class="layui-container">
        <div class="layui-card">
            <div class="layui-card-header"> <span class="layui-breadcrumb" style="visibility: visible;"> <a
                    href="/index/index">酒店首页</a><span
                    lay-separator="">/</span> <a href="/lists/lists">类别</a><span
                    lay-separator="">/</span> <a><cite>全部</cite></a>
						</span></div>
            <div class="layui-card-body">
                <div class="store-cat-item"><span><i class="layui-icon layui-icon-shop-fenlei"></i>类别：</span>
                    <ul id="getAllRoomType">
                        <!--<li  class="active"  > <a href="${base}/hotel/list/0/${floorId}/1/20.html">全部</a> </li>

                                <li > <a href="${base}/hotel/list/${r.id}/${floorId}/1/20.html">单人间</a> </li>
                                <li > <a href="${base}/hotel/list/${r.id}/${floorId}/1/20.html">双人间</a> </li>
                                <li > <a href="${base}/hotel/list/${r.id}/${floorId}/1/20.html">标准间</a> </li>-->

                    </ul>
                </div>
                <div class="store-cat-item colorFilt"><span><i class="layui-icon layui-icon-shop-color"></i>楼层：</span>
                    <ul id="getAllFloor">

                        <!--<li style="background: #F2F2F2" title="全部"> <a href="../hotel/list/${roomTypeId}/0/1/20.html"> <img src="../hotel/images/all_bg.jpg">

                           <i class="layui-icon layui-icon-ok"></i>

                       </a>
                       </li>-->

                        <!--  <li title="1楼" class="bg1">
                                 <a href="${base}/hotel/list/${roomTypeId}/${r.id}/1/20.html">
                                  </a>
                          </li>

                          <li title="2楼" class="bg2">
                              <a href="${base}/hotel/list/${roomTypeId}/${r.id}/1/20.html">

                              </a>
                          </li>-->

                    </ul>
                </div>
                <p class="filtEnd">筛选出<span id="filtTotal">0</span>个</p>
            </div>
        </div>
    </div>
</div>
<div class="shop-temp shoplist">
    <div class="temp-normal">
        <div class="layui-container">
            <div class="layui-row layui-col-space20 shoplist" id="roomList">
                <!--<div class="layui-col-xs12 layui-col-sm6 layui-col-md4 layui-col-lg3">
                    <a class="template store-list-box" href="../hotel/details.html" target="_blank">
                        <img src="../hotel/images/f1-01.jpg" class="store-list-cover">
                        <h2 class="layui-elip">经济舒适单人房</h2>
                        <div> <label class="layui-badge-rim store-list-pay"> ￥99 </label>
                            <div class="store-list-colorbar">
                                <span class="store-color-bar" style="border-color: #009688;color: #009688;border-width: 1px;border-style: solid;background-color: #fff;    text-align: center;">空闲</span>
                                 <span class="store-color-bar" style="border-color: #5fb878;color: #5fb878;border-width: 1px;border-style: solid;background-color: #fff;    text-align: center;">单人间</span>
                                 <span class="store-color-bar" style="border-color: #01aaed;color: #01aaed;border-width: 1px;border-style: solid;background-color: #fff;    text-align: center;">1楼</span>
                            </div>
                        </div>
                    </a>
                </div>-->

            </div>
            <div style="margin: 50px 0 80px; text-align: center;"></div>
        </div>
    </div>
</div>

<!--用户评论开始-->
<div class="shop-temp shoplist">
    <div class="temp-normal">
        <div class="layui-container">


            <div class="comment_list" id="comment_list">
                <h3 style="text-indent: 2em;font-size: 26px;line-height: 60px;font-weight: 800;float: left">用户评论</h3>
                <h4 style="float: right;height: auto;margin-right: 50px;font-size: 20px;line-height: 60px">
                    <i class="icon layui-icon layui-icon-reply-fill " style="font-size: 18px;"
                       onclick=clickComments(this)>点击评论&nbsp;&nbsp;&nbsp;&nbsp;</i>
                </h4>
                <hr>
                <!--    <div class="comment">
                        <div class="imgdiv">
                            <img class="imgcss" src="/image/user.jpg"/>
                        </div>
                        <div class="conmment_details">
                            <div style="float:left;">
                                <span class="comment_name">大白 </span> <span>22分钟前</span>
                            </div>
                            <div class="del">
                                <span class="show_reply_list">查看回复</span>
                                <i class="icon layui-icon layui-icon-reply-fill" onclick=clickReplyComment(this)>点击回复&nbsp;&nbsp;&nbsp;&nbsp;</i>
                                <a class="del_comment" data-id="1"> <i class="icon layui-icon" onclick=clickDeleteComment(this)>删除</i></a>
                            </div>
                            <div class="comment_content">
                                感觉林丹越来越帅了，好棒感觉林丹越来越帅了，好棒感觉林丹你好没啊你好没啊你好没啊你好没啊你好没啊你好没啊你好没啊你好没啊你好没啊你好没啊你好没啊
                                经过两天的公开开庭审理，备受关注的劳荣枝涉嫌故意杀人、绑架、抢劫罪一案于今日（12月22日）下午在南昌市中级人民法院一审庭审结束，法院宣布休庭，将另行择期宣判。

                                红星新闻记者全程旁听此案，在该案刑事部分辩论期间，控辩双方均就劳荣枝是否犯故意杀人罪，其抢劫罪是否有致人死亡、入室抢劫的加重行为，绑架罪是否存在致人死亡的加重行为进行了辩论。

                                22日，前来参与庭审的被害人之一熊某的弟弟熊先生告诉红星新闻记者，自己是看到新闻后才知道劳荣越来越帅了，好棒感觉林丹越来越帅了，好棒感觉林丹越来越帅了，好棒
                            </div>
                            <br/><br/>
                        </div>
                        <div class="reply_list">   &lt;!&ndash;style="display:none;"&ndash;&gt;
                            <div class="reply">
                                <div class="imgdiv">
                                    <img class="imgcss" src="/image/user.jpg"/>
                                </div>
                                <span class="reply_name">小白&nbsp;&nbsp;</span>回复<span class="reply_name">&nbsp;&nbsp;小黑</span>：
                                <span class="reply_content">你好没啊你好没啊你好没啊你好没啊你好没啊你好没啊你好没啊你好 </span>
                                <a data-id="1" class="del_reply">
                                    <i class="icon layui-icon layui-icon-reply-fill">点击回复&nbsp;&nbsp;&nbsp;&nbsp;</i>
                                    <i class="icon layui-icon "> 删除</i>
                                </a>
                            </div>
                            <hr/>
                            <div class="reply">
                                <div class="imgdiv">
                                    <img class="imgcss" src="/image/user.jpg"/>
                                </div>
                                <span class="reply_name">小白</span>回复<span class="reply_name">小黑</span>：<span
                                    class="reply_content">你好没啊你好没啊你好没啊你好没啊你好没啊你好没啊你好没啊你好没啊你好没啊你好没啊你好没啊你好没啊 经过两天的公开开庭审理，备受关注的劳荣枝涉嫌故意杀人、绑架、抢劫罪一案于今日（12月22日）下午在南昌市中级人民法院一审庭审结束，法院宣布休庭，将另行择期宣判。

    红星新闻记者全程旁听此案，在该案刑事部分辩论期间，控辩双方均就劳荣枝是否犯故意杀人罪，其抢劫罪是否有致人死亡、入室抢劫的加重行为，绑架罪是否存在致人死亡的加重行为进行了辩论。

    22日，前来参与庭审的被害人之一熊某的弟弟熊先生告诉红星新闻记者，自己是看到新闻后才知道劳荣枝落网且案件会公开审理，这些年来熊某一家的惨遭杀害对其家人伤害巨大，希望法院能判处劳荣枝死刑。</span>
                                <br/> <br/>
                                <span style="margin-left: 80px">2020-12-23 10:23:43</span>
                                <a data-id="1" class="del_reply">
                                    <i class="icon layui-icon layui-icon-reply-fill">点击回复&nbsp;&nbsp;&nbsp;&nbsp;</i>
                                    <i class="icon layui-icon"> 删除</i>
                                </a>
                            </div>
                            <hr/>
                            <div class="reply">
                                <div class="imgdiv">
                                    <img class="imgcss" src="/image/user.jpg"/>
                                </div>
                                <span class="reply_name">小白</span>回复<span class="reply_name">小黑</span>：<span
                                    class="reply_content">你好没啊你好没啊你好没啊你好没啊你好没啊你好没啊你好没啊你好没啊你好没啊你好没啊你好没啊你好没啊 </span>
                                <a data-id="1" class="del_reply">
                                    <i class="icon layui-icon"> 删除</i>
                                </a>
                            </div>
                            <hr/>
                            <div class="reply">
                                <div class="imgdiv">
                                    <img class="imgcss" src="/image/user.jpg"/>
                                </div>
                                <span class="reply_name">小白</span>回复<span class="reply_name">小黑</span>：<span
                                    class="reply_content">你好没啊你好没啊你好没啊你好没啊你好没啊你好没啊你好没啊你好没啊你好没啊你好没啊你好没啊你好没啊 </span>
                                <a data-id="1" class="del_reply">
                                    <i class="icon layui-icon"> 删除</i>
                                </a>
                            </div>

                        </div>
                        <div class="show_remain_reply">查看剩下的回复</div>
                        &lt;!&ndash;回复列表结束&ndash;&gt;
                    </div>
                    <hr/>-->

                <!--<div class="comment">
                    <div class="imgdiv">
                        <img class="imgcss" src="/image/user.jpg"/>
                    </div>
                    <div class="conmment_details">
                        <div style="float:left;">
                            <span class="comment_name">大白 </span> <span>22分钟前</span>
                        </div>
                        <div class="del">
                            <span class="show_reply_list">查看回复</span>
                            <i class="icon layui-icon">赞(164)</i>
                            <a class="del_comment" data-id="1"> <i class="icon layui-icon">删除</i></a>
                        </div>
                        <div class="comment_content"> 感觉林丹越来越帅了，好棒感觉林丹越来越帅了，好棒感觉林丹越来越帅了，好棒感觉林丹越来越帅了，好棒感觉林丹越来越帅了，好棒
                        </div>
                    </div>
                    <div class="reply_list">   &lt;!&ndash;style="display:none;"&ndash;&gt;
                        <div class="reply">
                            <span class="reply_name">小白</span>回复<span class="reply_name">小黑</span>：<span
                                class="reply_content">你好没啊你好没啊你好没啊你好没啊你好没啊你好没啊你好没啊你好 </span>
                            <a data-id="1" class="del_reply">
                                <i class="icon layui-icon "> 删除</i>
                            </a>
                        </div>
                        <div class="reply">
                            <span class="reply_name">小白</span>回复<span class="reply_name">小黑</span>：<span
                                class="reply_content">你好没啊你好没啊你好没啊你好没啊你好没啊你好没啊你好没啊你好没啊你好没啊你好没啊你好没啊你好没啊 </span>
                            <a data-id="1" class="del_reply">
                                <i class="icon layui-icon"> 删除</i>
                            </a>
                        </div>
                        <div class="reply">
                            <span class="reply_name">小白</span>回复<span class="reply_name">小黑</span>：<span
                                class="reply_content">你好没啊你好没啊你好没啊你好没啊你好没啊你好没啊你好没啊你好没啊你好没啊你好没啊你好没啊你好没啊 </span>
                            <a data-id="1" class="del_reply">
                                <i class="icon layui-icon"> 删除</i>
                            </a>
                        </div>
                    </div>
                    <div class="show_remain_reply">查看剩下的回复</div>
                    &lt;!&ndash;回复列表结束&ndash;&gt;
                </div>
                <hr>-->
                <!-- <div class="comment">
                     <div class="imgdiv">
                         <img class="imgcss" src="/image/user.jpg"/>
                     </div>
                     <div class="conmment_details">
                         <div style="float:left;">
                             <span class="comment_name">大白 </span> <span>22分钟前</span>

                         </div>
                         <div class="del">
                             <span class="show_reply_list">查看回复</span>
                             <i class="icon layui-icon">赞(164)</i>
                             <a class="del_comment" data-id="1"> <i class="icon layui-icon">删除</i></a>
                         </div>
                         <div class="comment_content"> 感觉林丹越来越帅了，好棒感觉林丹越来越帅了，好棒感觉林丹越来越帅了，好棒感觉林丹越来越帅了，好棒感觉林丹越来越帅了，好棒
                         </div>
                     </div>
                     <div class="reply_list">   &lt;!&ndash;style="display:none;"&ndash;&gt;
                         <div class="reply">
                             <span class="reply_name">小白</span>回复<span class="reply_name">小黑</span>：<span
                                 class="reply_content">你好没啊你好没啊你好没啊你好没啊你好没啊你好没啊你好没啊你好 </span>
                             <a data-id="1" class="del_reply">
                                 <i class="icon layui-icon "> 删除</i>
                             </a>
                         </div>
                         <div class="reply">
                             <span class="reply_name">小白</span>回复<span class="reply_name">小黑</span>：<span
                                 class="reply_content">你好没啊你好没啊你好没啊你好没啊你好没啊你好没啊你好没啊你好没啊你好没啊你好没啊你好没啊你好没啊 </span>
                             <a data-id="1" class="del_reply">
                                 <i class="icon layui-icon"> 删除</i>
                             </a>
                         </div>
                         <div class="reply">
                             <span class="reply_name">小白</span>回复<span class="reply_name">小黑</span>：<span
                                 class="reply_content">你好没啊你好没啊你好没啊你好没啊你好没啊你好没啊你好没啊你好没啊你好没啊你好没啊你好没啊你好没啊 </span>
                             <a data-id="1" class="del_reply">
                                 <i class="icon layui-icon"> 删除</i>
                             </a>
                         </div>
                         <div class="reply">
                             <span class="reply_name">小白</span>回复<span class="reply_name">小黑</span>：<span
                                 class="reply_content">你好没啊你好没啊你好没啊你好没啊你好没啊你好没啊你好没啊你好没啊你好没啊你好没啊你好没啊你好没啊 </span>
                             <a data-id="1" class="del_reply">
                                 <i class="icon layui-icon"> 删除</i>
                             </a>
                         </div>
                     </div>
                     <div class="show_remain_reply">查看剩下的回复</div>
                     &lt;!&ndash;回复列表结束&ndash;&gt;
                 </div>
                 <hr>-->

                <!--<div class="comment_add_or_last">
                    点击加载更多评论
                </div>
                <hr>-->
            </div>

        </div>
    </div>
</div>
</div>

<!--评论界面开始-->
<div style="display: none" id="comment"  class="layui-form">
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">请输入信息</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入内容" class="layui-textarea" style="height:300px " id="commentValue"></textarea>
            </div>
        </div>
        <div class="" style="height: 45px; text-align: center">
            <button class="layui-btn" id="btnEdit" type="submit"
                    lay-submit=""
                    lay-filter="btnEdit">
                确定
            </button>

            <button class="layui-btn  layui-btn-primary" id="btnBack" type="submit"
                    lay-submit=""
                    lay-filter="btnBack" >
                返回
            </button>
        </div>
</div>
<!--评论界面结束-->

<!-- 底部 start-->
<div class="fly-footer">
    <p>徐广兴 &nbsp;&nbsp;&nbsp;&nbsp;<i class="layui-icon layui-icon-login-qq"></i> 1832377033 &nbsp;&nbsp;&nbsp;&nbsp;
        <i class="layui-icon layui-icon-cellphone"></i>18317956639
    </p>
</div>

<!-- 底部 end-->
<script src="/static/layuiadmin/layui/layui.js"></script>
<script src="/static/js/project/lists/lists.js"></script>
<script src="/static/js/project/common/common.js"></script>
<script src="/static/js/jquery/jquery-3.3.1.min.js"></script>
<ul class="layui-fixbar">
    <li class="layui-icon layui-fixbar-top" lay-type="top" style="display: none;"></li>
</ul>
</body>
</html>
