<!DOCTYPE html>
<html class="fly-html-layui fly-html-store">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">-->
    <meta name="keywords" content="酒店管理系统">
    <meta name="description" content="酒店管理系统">
    <link rel="stylesheet" href="/layuiadmin/layui/css/layui.css">
    <link rel="stylesheet" href="/layuiadmin/style/admin.css">
    <link rel="stylesheet" href="/css/global.css" charset="utf-8">
    <link rel="stylesheet" href="/css/global(1).css" charset="utf-8">
    <link rel="stylesheet" href="/css/store.css" charset="utf-8">
    <link rel="icon" href="image/favicon.ico">
    <style>
        .layui-badge {
            height: 20px;
            line-height: 19px;
            box-sizing: border-box;
        }
        .layui-badge-green {
            color: #52c41a;
            background: #f6ffed;
            border: 1px solid #b7eb8f;
        }
        .layui-badge-blue {
            color: #1890ff;
            background: #e6f7ff;
            border: 1px solid #91d5ff;
        }

        .layui-badge-warm {
            color: #009688;
            background: #e6f7ff;
            border: 1px solid #4cffb3;
        }

        .layui-badge-red{
            color: #961408;
            background: #e6f7ff;
            border: 1px solid #ff4f3b;
        }
    </style>
</head>
<title>我的预约-酒店管理系统</title>
<body>
<!--顶部 start-->
<div class="layui-header header header-store" style="background-color: #083a6d;">
    <div class="layui-container">
        <a class="logo" href="/index/index">
            <img src="http://101.132.135.146/group1/M00/00/01/rBEEEmA3bQiAekmmAAAMCcDFkhw800.png" alt="layui">
        </a>
        <div class="layui-form component" lay-filter="LAY-site-header-component"></div>
        <ul class="layui-nav" id="layui-nav-userinfo">

        </ul>
    </div>
</div>
<!--顶部 end-->
<!--[if lt IE 9]>  <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>  <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script><![endif]-->
<div class="shop-nav shop-index">
    <!--搜索 start-->
    <div id="LAY-topbar" style="height: auto;">
        <form class="layui-form layuimini-form">
            <div class="input-search">
                <div id="searchRoom">
                </div>
                <div class="layui-container layui-hide-xs"> <a href="http://www.xueden.cn/" class="topbar-logo"> <img src="/image/1.jpg"  alt="layui"> </a> </div>
            </div>
        </form>
    </div>
    <!--搜索 end-->
    <div class="shop-banner" style="background: #f2f2f2;">
        <div class="layui-container layui-hide-xs">
            <!--会员菜单 start-->
            <div class="product-list">
                <dl>
                    <dt><a href="/myInfo/myInfo">信息中心</a></dt>
                    <dd><a href="/myInfo/myInfo">个人信息</a></dd>
                    <dd class="activate"><a href="/myReserve/myReserve">我的预定</a></dd>
                </dl>
            </div>
            <!--会员菜单 end-->
        </div>

        <div class="layui-container">
            <div class="fly-panel fly-panel-user" pad20="">
                <div class="layui-tab layui-tab-brief" lay-filter="user">
                    <ul class="layui-tab-title" id="LAY_mine">
                        <li class="layui-this" lay-id="info">我的预定</li>
                    </ul>
                    <table class="layui-hide" id="bookOrderTable" lay-filter="bookOrderTable"></table>

                    <script type="text/html" id="barDemo">
                        {{#  if(d.status ==0){ }}
                       <!-- <button class="layui-btn layui-btn-xs layui-btn-danger" lay-event="refundMonery" id="refundMonery">退款</button>-->

                        {{#  if(StringToDate(d.leaveDate) < new Date().getTime()){ }}
                        <button class="layui-btn layui-btn-xs layui-btn-disabled">退款</button>
                        {{#  } else { }}
                        <button class="layui-btn layui-btn-xs layui-btn-danger" lay-event="refundMonery">退款</button>
                        {{#  } }}

                        {{#  } else { }}
                        <button class="layui-btn layui-btn-xs" lay-event="payMonery">支付</button>
                        {{#  } }}
                    </script>
                    <script type="text/javascript">
                        function StringToDate(str)
                        {
                            /*返回毫秒值*/
                            var data  = new Date(str);
                            return data.getTime();
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>

<!--退款界面开始-->
<div style="display: none" id="refundMoneryView">
    <div class="layui-form" >
        <div class="layui-form-item layui-form-pane">
            <label class="layui-form-label" style="width: 150px">订单号：</label>
            <div class="layui-input-block" style=" margin: 0px 0px 5px 150px;display: block;width: 400px">
                <input type="text" name="out_trade_no" lay-verify="title" disabled autocomplete="off" id="out_trade_no"
                       placeholder="订单号"
                       class="layui-input">
            </div>
        </div>
        <div class="  layui-form-pane">
            <div class="layui-inline">
                <label class="layui-form-label" style="width: 150px">总价：</label>
                <div class="layui-input-block" style=" margin: 0px 0px 20px 150px;display: block;width: 400px">
                    <input type="text" name="total_amount" lay-verify="total_amount" id="total_amount" disabled autocomplete="off"
                           class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-pane">
            <div class="layui-inline">
                <label class="layui-form-label" style="width: 150px">退款说明：</label>
                <div class="layui-input-block" style=" margin: 0px 0px 20px 150px;display: block;width: 400px">
                   <!-- <input type="text" name="remark" lay-verify="remark" id="remark" autocomplete="off"
                           placeholder="请输入退款说明"
                           class="layui-input">-->
                    <textarea name="refund_reason" id="refund_reason" style="width: 400px;height:200px">

                    </textarea>
                </div>
            </div>
        </div>
        <div class="" style="height: 45px; text-align: center">
            <button class="layui-btn" id="btnEdit" type="submit"
                    lay-submit=""
                    lay-filter="btnEdit">
                确定
            </button>
        </div>
    </div>
</div>


<!-- 底部 -->
<div class="fly-footer">
    <p>徐广兴 &nbsp;&nbsp;&nbsp;&nbsp;<i class="layui-icon layui-icon-login-qq"></i> 1832377033  &nbsp;&nbsp;&nbsp;&nbsp;
        <i class="layui-icon layui-icon-cellphone"></i>18317956639
    </p>
</div>
<div id='jsonContainer' class="Canvas" style="display: none"></div>

<script src="/static/layuiadmin/layui/layui.js"></script>
<script src="/static/js/project/index/index.js"></script>
<script src="/static/js/project/common/common.js"></script>
<script src="/static/js/project/myReserve/myReserve.js"></script>
<ul class="layui-fixbar">
    <li class="layui-icon layui-fixbar-top" lay-type="top" style=""></li>
</ul>
</body>
</html>
