<!-- 头部 -->
<!-- 头部 -->
<!DOCTYPE html>
<html class="fly-html-layui fly-html-store">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">-->
    <meta name="keywords" content="酒店管理系统">
    <meta name="description" content="酒店管理系统">
    <link rel="stylesheet" href="/layuiadmin/layui/css/layui.css">
    <link rel="stylesheet" href="/layuiadmin/style/admin.css">
    <link rel="stylesheet" href="/css/global.css" charset="utf-8">
    <link rel="stylesheet" href="/css/global(1).css" charset="utf-8">
    <link rel="stylesheet" href="/css/store.css" charset="utf-8">
    <link rel="icon" href="image/favicon.ico">

</head>
<title>用户注册-酒店管理系统</title>
<body>
<!--顶部 start-->
<div class="layui-header header header-store" style="background-color: #083a6d;">
    <div class="layui-container">
        <a class="logo" href="/index/index">
            <img src="/image/logo.png" alt="layui">
        </a>
        <div class="layui-form component" lay-filter="LAY-site-header-component"></div>
        <ul class="layui-nav" id="layui-nav-userinfo">

        </ul>
    </div>
</div>
<!--顶部 end-->
<!--[if lt IE 9]>
<script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
<script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script><![endif]-->
<div class="shop-nav shopdata">
    <!--搜索 start-->
    <div id="LAY-topbar" style="height: auto;">
        <form class="layui-form layuimini-form">
            <div class="input-search">
                <div id="searchRoom">
                </div>
                <div class="layui-container layui-hide-xs"><a href="http://www.xueden.cn/" class="topbar-logo"> <img
                        src="/image/1.jpg" alt="layui"> </a></div>
            </div>
        </form>
    </div>
    <!--搜索 end-->
</div>
<div class="layui-container shopdata">
    <div class="layui-card shopdata-intro">

        <div class=" login-content">
            <!--登录 start-->
            <div class="login-bg">
                <div class="login-cont w1200">
                    <div class="form-box" style="height: 520px;top: 60px; right: 90px">
                        <form class="layui-form" action="">
                            <legend>忘记密码</legend>
                            <div class="layui-form-item">

                                <div class="layui-inline iphone">
                                    <div class="layui-input-inline">
                                        <i class="layui-icon layui-icon-auz iphone-icon"></i>
                                        <input type="tel" name="idCard" id="idCard" lay-verify="required|phone"
                                               placeholder="请输入身份证" autocomplete="off" class="layui-input">
                                    </div>
                                </div>


                                <div class="layui-inline iphone">
                                    <div class="layui-input-inline">
                                        <i class="layui-icon layui-icon-email iphone-icon"></i>
                                        <input type="tel" name="userEmail" id="userEmail" lay-verify="required|email"
                                               placeholder="请输入QQ邮箱" autocomplete="off" class="layui-input">
                                    </div>
                                </div>


                                <div class="layui-inline iphone">
                                    <div class="layui-input-inline">
                                        <div class="layui-col-xs7">
                                            <i class="layui-icon layui-icon-auz iphone-icon"></i>
                                            <input type="tel" name="vercode" id="vercode" lay-verify="required|email"
                                                   placeholder="QQ邮箱验证码" autocomplete="off" class="layui-input">
                                        </div>

                                        <div class="layui-col-xs5">
                                            <div style="margin-left: 5px;">
                                                <button type="button" id="yzmbt"
                                                        class="layui-btn layui-btn-primary layui-btn-fluid">
                                                    获取验证码
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="layui-inline iphone">
                                    <div class="layui-input-inline">
                                        <i class="layui-icon layui-icon-password iphone-icon"></i>
                                        <input id="passWord" type="passWord" name="passWord" lay-verify="required"
                                               placeholder="请输入登录密码" autocomplete="off" class="layui-input">
                                    </div>
                                </div>

                                <div class="layui-inline iphone">
                                    <div class="layui-input-inline">
                                        <i class="layui-icon layui-icon-password iphone-icon"></i>
                                        <input type="sureUserEmail" name="sureUserEmail" id="sureUserEmail"
                                               lay-verify="required" placeholder="确认密码" autocomplete="off"
                                               class="layui-input">
                                    </div>
                                </div>

                                <div class="layui-form-item login-btn">
                                    <div class="layui-input-block">
                                        <button class="layui-btn" lay-submit="" lay-filter="register"
                                                onclick="return false">注册
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!--登录 end-->

        </div>
    </div>

</div>


<!-- 底部 -->
<div class="fly-footer">
    <p>徐广兴 &nbsp;&nbsp;&nbsp;&nbsp;<i class="layui-icon layui-icon-login-qq"></i> 1832377033 &nbsp;&nbsp;&nbsp;&nbsp;
        <i class="layui-icon layui-icon-cellphone"></i>18317956639
    </p>
</div>
<ul class="layui-fixbar">
    <li class="layui-icon layui-fixbar-top" lay-type="top" style=""></li>
</ul>
<script src="/static/layuiadmin/layui/layui.js"></script>
<script src="/static/js/project/common/common.js"></script>
</body>
</html>
