<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xu.mapper.user.UserMapper">

    <resultMap id="userMap" type="com.xu.pojo.user.User">
        <id property="id" column="id" />
        <result property="userName" column="username"/>
        <result property="passWord" column="password"/>
        <result property="idCard" column="idCard"/>
        <result property="userPhone" column="userPhone"/>
        <result property="realName" column="realName"/>
        <result property="userNameImage" column="userNameImage"/>
        <result property="userRealImage" column="userRealImage"/>
        <result property="userEmail" column="userEmail"/>
        <result property="idCardImagePositive" column="idCardImagePositive"/>
        <result property="idCardImageNegative" column="idCardImageNegative"/>
        <result property="address" column="address"/>
    </resultMap>

    <!--查询所有的用户信息及对应的角色信息-->
    <select id="findByUserName" resultMap="userMap">
       select user.id,userName,passWord from user
            where user.userName=#{userName}
    </select>

</mapper>